/* color palette from <https://github.com/vuejs/theme> */
body{
  font-family: "Roboto",'Lato', "PingFang SC", "Microsoft YaHei",sans-serif,system-ui;
  /**font-family: "Roboto",'Lato', "PingFang SC", "Microsoft YaHei",sans-serif!important**/
}